
# undesirables
.git
.DS_Store
__pycache__
**/__pycache__
venv
.env

# database
*.db
alembic

# PyTest
htmlcov
.pytest_cache
.mypy_cache
.coverage
.cache

# unused
unused
_ref

# logs
*.log

# vscode
*.code-workspace

# managed by parent repo GCAPI
prestart.sh
start.sh
start-reload.sh
prestart-worker.sh
start-worker.sh
wait-for-it.sh

# examples
ex_*
