
# undesirables
.git
.DS_Store
__pycache__
**/__pycache__
venv
.venv
.env
.credentials
.idea

# database
*.db
*.db-*

# Security
*.pem
!app_cert.pem
!app_key.pem

# PyTest / Coverage / Lint
htmlcov
coverage.xml
.pytest_cache
.mypy_cache
.coverage
.cache
codecov
.ruff_cache
beta.py
test-local.sh

# unused
unused
_notes
_ref

# logs
*.log
log.*

# vscode
.vscode
*.code-workspace

# managed by parent repo GCAPI
prestart.sh
prestart-worker.sh
start-tests.sh
start.sh
start-worker.sh
start-reload.sh

# examples
ex_*
