
# server
uvicorn[standard]
greenlet # coroutines/concurrency

# security
httpx-oauth
requests
cryptography

# api
fastapi
fastapi-users[sqlalchemy]
pydantic[email]
python-multipart # form data

# tasks
celery
celery-stubs
redis
# raven # Sentry.io performance

# database
PyMySQL
sqlalchemy[mypy]
sqlalchemy-stubs
sqlalchemy-utils
databases[aiomysql]
alembic

# async
anyio[trio]
asyncio
aiohttp
aiosqlite
aiomysql
aiofiles

# templating
email-validator
emails
jinja2

# testing
httpx
asgi-lifespan
pytest
pytest-cov
pytest-asyncio
pytest-mock

# tooling
python-dotenv
autopep8
pep8
mypy
isort
black
flake8
autoflake8
